.container.member-resources-container {
    padding: 70px;
    background: #F3F3F3;
}

@media (max-width: 768px) {
    .container.member-resources-container {
        padding: 20px 21px 70px 21px;
    }
}

.resources-section .section-title.cards-title {
    padding-bottom: 10px;
    color: #08101B;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px;
}

.resources-section .description {
    padding-bottom: 30px;
    color: #08101B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
    opacity: 0.7;
}

.card-wrapper:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .card-wrapper:not(:last-child) {
        margin-right: 0;
    }
}

.card-wrapper {
    margin-bottom: 30px;
}

.resources-section .cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

@media (max-width: 1200px) {
    .resources-section .cards-container {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 768px) {
    .resources-section .cards-container {
        grid-template-columns: auto;
    }
}

.resources-section .card-wrapper {
    position: relative;
}

.resources-section .card-wrapper .card-title {
    padding-top: 10px;
    color:  #08101B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
}

.resources-section .card-wrapper .card-sub-title {
    color: #08101B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
    opacity: 0.7;
}

.resources-section .card-wrapper .image-text {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px;
}

@media (max-width: 768px) {
    .resources-section .card-wrapper .image-text {
        font-size: 32px;
        line-height: 38.4px;
    }
}

.resources-section .card-wrapper .card-image img {
    max-width: 244px;
    height: 298px;
    background: var(--black-transp, rgba(8, 16, 27, 0.65));
}

@media (max-width: 768px) {
    .resources-section .card-wrapper .card-image img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}
